<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Template Invitation</title>
    <style type="text/css">
        /*{{PLACEHOLDER_EDITORCSS}}*/

        body {
            background-color: #eeeeee;
        }

        li {
            list-style-position: outside;
            list-style-type: disc;
            color: #bb1515;
            margin-left: 0px;
            font-family: verdana;
        }

        a:link {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <table class="Col1 deviceWidth" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td class="Column NonDroppableCell" align="center" height="25" width="630" style="font-size: 10pt; color: #5f5f5f; padding-bottom: 4px; padding-top: 4px; padding-left: 0px; padding-right: 0px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    <div class="DivTxt">
                        Si le message ne s&#39;affiche pas, merci de
                        <a ednc="visu" ednd="" ednn="" ednt="" href="#" style="color: #2c2e30" target="_blank" title="Afficher la version en ligne">
                            <span style="color: #2c2e30">suivre ce lien</span>
                        </a>
                    </div>
                </td>
                  
            </tr>
            <tr>
                <td class="Column" align="center" height="25" style="font-size: 11px; color: #5f5f5f; padding-bottom: 4px; padding-top: 4px; padding-left: 0px; padding-right: 0px">
                    <table class="Col1 deviceWidth"align="center" cellpadding="0" cellspacing="0" style="font-size: 10pt; border: #c5c5c5 1px solid; font-family: verdana;  color: black; background-color: white;" width="650">
                        <tbody>
                            <tr>
                                <td class="NonDroppableCell" colspan="2" valign="top">
                                    <div class="ImageSimple eudonet-extended-container-image">
                                        <img class="image eudonet-extended-image" ednrp="on" id="newImage" src="emailing/templates/invitation/bandeau.jpg" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="Column" colspan="2" valign="top">
                                    <div align="center">
                                        <div align="left">
                                            <table class="deviceWidth"align="center" border="0" cellpadding="0" cellspacing="0" width="97%">
                                                <tbody>
                                                    <tr>
                                                        <td class="Column" valign="top" width="27%">
                                                            &nbsp;
                                                            <table class= "simpleText deviceWidth"border="0" cellpadding="0" cellspacing="0" style="border-right: #cccccc 1px solid; border-top: #cccccc 1px solid; border-bottom: #cccccc 1px solid; border-left: #cccccc 1px solid" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td bgcolor="#e9e9e9" width="7%">&nbsp;</td>
                                                                        <td class="NonDroppableCell" bgcolor="#e9e9e9" width="93%">
                                                                            <br />
                                                                            <font color="#636363" face="Verdana" size="1">
                                                                                <div class="DivTxt" style="font-weight:bold;display:inherit">
                                                                                    Contact :
                                                                                </div>
                                                                            </font><br />
                                                                            <font color="#000000" face="Verdana" size="1">
                                                                                <div class="DivTxt" style="display:inherit">
                                                                                    Pr&eacute;nom Nom
                                                                                </div>
                                                                            </font><br />
                                                                                <div class="DivTxt" style="font-size:11px; color:#000000">
                                                                                    T&eacute;l : XX XX XX XX<br />
                                                                                    <a href="mailto:contact@site.com">contact@site.com</a>
                                                                                </div><br />
                                                                            <font color="#000000" face="Verdana" size="1">
                                                                                <div class="DivTxt" style="display:inherit">
                                                                                    Pr&eacute;nom Nom
                                                                                </div>
                                                                                </font><br />
                                                                            <div class="DivTxt" style="font-size:11px; color:#000000">
                                                                                T&eacute;l : XX XX XX XX<br />
                                                                                <a href="mailto:contact@site.com">contact@site.com</a>
                                                                            </div><br />
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br />
                                                            <div class="ImageSimple eudonet-extended-container-image">
                                                                <img class="image eudonet-extended-image" ednrp="on" id="newImage" src="emailing/templates/invitation/bloc-gch.jpg" />
                                                            </div>

                                                        </td>
                                                        <td valign="top" width="71%">
                                                            <table class="Col1 deviceWidth" align="right" border="0" cellpadding="0" cellspacing="0" width="95%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td clas="Column" colspan="3">
                                                                            <div align="justify">
                                                                                <table class="simpleText deviceWidth" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td  class="NonDroppableCell" valign="top">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="NonDroppableCell" valign="top">
                                                                                                <div class="DivTxt" align="center"><font color="#bb1515" face="Verdana" size="4">
                                                                                                    <strong>
                                                                                                        <div class="DivTxt">Invitation</div>
                                                                                                    </strong>
                                                                                                  </font></div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="DivTxt" align="center">
                                                                                    <font color="#666666" face="Verdana" size="3">
                                                                                        <div class="DivTxt">
                                                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                                                        </div>
                                                                                    </font>
                                                                                </div>

                                                                                <table class="deviceWidth" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="NonDroppableCell" align="center" scope="col">

                                                                                                <br />
                                                                                                <font color="#BB1515" face="Verdana" size="3">
                                                                                                    <div class="DivTxt" style="display:inherit;font-weight:bold;font-size:16px;color:#BB1515">
                                                                                                        Jours/Mois/Ann&eacute;e
                                                                                                       </div>
                                                                                                </font>
                                                                                                <br />
                                                                                                <br />
                                                                                                <font color="#666666" face="Verdana" size="2">
                                                                                                    <div class="DivTxt" style="display:inherit;font-size:13px;color:#666666">
                                                                                                        Heure de d&eacute;but
                                                                                                    </div>
                                                                                                </font><br />
                                                                                                <font color="#666666" face="Verdana" size="2">
                                                                                                    <div class="DivTxt" style="display:inherit;font-size:13px;color:#666666">
                                                                                                        Lieu de l&#39;&eacute;v&egrave;nement
                                                                                                    </div>
                                                                                                </font>
                                                                                                <br />
                                                                                                <br />

                                                                                                <div class="DivTxt" style="color:#6c6865;font-size:15px;display:inherit">
                                                                                                    <a ednc="" ednd="" ednn="" ednt="" href="#" style="color: #2c2e30" target="_blank" title="Afficher la version en ligne">
                                                                                                        <span style="color: #6c6865; text-decoration:underline">Programme de l&#39;&eacute;v&egrave;nement</span></a>.
                                                                                                </div><br />
                                                                                                &nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                                <table class="deviceWidth"border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center" scope="col">
                                                                                                <p>&nbsp;</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="Column NonDroppableCell" >
                                                                            <table class="btnEudonetTable" align="center" st-button="edit" border="0" cellpadding="0" cellspacing="0">
                                                                                <tr align="center">
                                                                                    <td class="NonDroppableCell" style="padding:10px; background:#bb1515" st-content="read-more-button" align="center">
                                                                                        <div data-gjs-type="text" contenteditable="true" align="center" class="eudonet-extended-container-button">
                                                                                            <a href="#" contenteditable="true" align="center" style="color:#fff">Inscription</a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" style="height: 10px" width="10">&nbsp;</td>
                                <td class="NonDroppableCell" style="height: 10px" width="618">
                                    <br /> 
                                        <div class="DivTxt" style="font-size:13px;display:inherit;font-weight:bold"> 
                                            <span style="color:#636363">
                                                Nos partenaires :
                                            </span>
                                        </div><br />
                                </td>
                            </tr>
                            <tr>
                                <td class="NonDroppableCell" height="1" colspan="2" style="height: 10px">
                                    <font color="#636363" face="Verdana" size="2">
                                        <div class="ImageSimple eudonet-extended-container-image">
                                            <img class="image eudonet-extended-image" ednrp="on" height="85" id="newImage2" name="newImage" src="emailing/templates/invitation/references.jpg" width="650" />
                                        </div>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td class="Column NonDroppableCell" bgcolor="#6c6865" colspan="2" height="1" style="height: 10px; text-align:center">
                                    <div class="DivTxt" style="color:#6c6865">.
                                        <a ednc="visu" ednd="" ednn="" ednt="" href="#" style="color: #ffffff;font-size:14px;font-weight:bold" target="_blank" title="www.votresite.com"><span style="color: #ffffff">www.votresite.com</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    <div class="DivTxt" align="center">
        <br />
        <div class="DivTxt" style="font-size: 8pt; height: 41px; font-family: arial; margin-left: 1px; width: 652px; text-align: center">
            Conform&eacute;ment &agrave; la loi informatique et libert&eacute;s du 6 janvier 1978, vous disposez d&#39;un droit d&#39;acc&egrave;s et de rectification<br />
            aux donn&eacute;es vous concernant. Si vous ne souhaitez plus recevoir d&#39;informations sur <strong>Votre entreprise</strong> cliquez <a ednc="unsub" ednd="" ednn="" ednt="" href="#" style="color: #a7a9ac" target="_blank">ici</a>.
        </div>
    </div>
</body>
</html>
