<?xml version="1.0"?>
<ServerSpecificSettings>
  <!--
  
    * ATTENTION *
    Les modifications dans ce fichier ne sont pas prise "à chaud"
    Il faut un changement même "inutile" dans web.config
    (il faut juste que la date de dernière modification change)
  
    -->
  <!-- Extensions autorisées pour l'upload -->
  <add key="allowedextensions" value="fmuUnt5JZAs="/>

  <!-- port https -->
  <add key="SecureServerPort" value="443"/>

  <!-- url de la v7 du serveur -->
  <add key="v7dir" value="v7"/>

  <!-- url de la XRM du serveur -->
  <add key="xrmdir" value="xrm.dev"/>

  <!-- Affiche en admin les extensions du mode debug -->
  <add key="displaydebugextension" value="1"/>

  <add key="reverseproxyinternalurl" value=""/>
  
  <!-- Https uniquement -->
  <add key="httpsonly" value="0"/>

  <!-- URL API -->
  <add key="apiurl" value="https:/ww2.eudonet.com"/>

  <!-- URL Externe -->
  <add key="apliexternalURL" value="https:/ww2.eudonet.com/xrm"/>


  <!-- Webbservice Volumétrie-->
  <add key="EudoVolumetrieURL" value="https://intra.eudonet.com/EudoAuditService"/>

  <!--  Authentification externe -->
  <add key="EXTERNALAUTH" value="0"/>
  <add key="EXTERNALAUTHTYPE" value="2"/>
  <add key="EXTERNALAUTHLOGIN" value="email"/>
  <add key="EXTERNALAUTHDEFAULTBASEID" value="87006F17"/>
  <add key="EXTERNALAUTHLOGVERBOSE" value="3"/>

  <!-- ADFS - NECESSITE https only -->
  <add key="ADFSApplication" value="0"/>
  <add key="ADFSDBID" value="87006F17"/>

  <!-- 0: pas de log / 1 : erreur / 2 : waring / 3 : tout -->
  <add key="ADFSLOGVERBOSE" value="3"/>
  <!--   <add key="ADFSLOGINCLAIMS" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" /> -->

  <!-- Taille Fichier avatar Max en Mo -->
  <add key="AvatarSize" value="20"/>

  <add key="DOSENABLED" value="1"/>
  <add key="DOSLIMIT" value="5000"/>

  <add key="EudoLogin" value="eudonet"/>
  <add key="EudoPassword" value="JJmKdsm"/>

  <add key="ServerWithoutInternet" value="0"/>

  <add key="ServerWithoutDBSizeInfos" value="0"/>
  <add key="extranetmaxuser" value="200"/>
  
  <!--<add key="AddinOutlookBaseurl" value="https://sph-node.eu.ngrok.io/" />-->

  <!-- Url du portail d'Aide -->
  <add key="HelpDeskEnabled" value="1"/>
  <add key="HelpDeskUrl" value="https://desk.eudonet.com/XtranetRedirect/ExtranetConnection.aspx"/>

  <!--
  <add key="XRMSQLMASTERLOGIN" value="sa" />
  <add key="XRMSQLMASTERPASSWORD" value="Q3oNYqV1q31ZoM" />  
-->
  


  <add key="newletterinfos"
  	value="{'usermsg':{'num':7,'url':'https://fr.eudonet.com/news-admin/News-Admin.html'},'adminmsg':{'num':7,'url':'https://fr.eudonet.com/news-admin/News-Admin.html'}}"/>




</ServerSpecificSettings>

