<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<ServerSpecificSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- url de la v7 du serveur -->
  <add key="v7dir" value="v7.dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <!-- url de la XRM du serveur -->
  <add key="xrmdir" value="xrm.dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <!-- Affiche en admin les extensions du mode debug -->
  <add key="displaydebugextension" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <!-- Https uniquement -->
  <add key="httpsonly" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


  <!-- URL API -->
  <add key="apiurl"  value="https://sph-web.eu.ngrok.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <!-- Webbservice Volumétrie-->
  <add key="EudoVolumetrieURL"  value="https://sph-web.eu.ngrok.io/eudoauditservice" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
</ServerSpecificSettings>