<?xml version="1.0" encoding="utf-8"?>
<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez la page http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- connexion bdd -->
  <connectionStrings>
    <add name="ServerInstanceName"
      connectionString=".\sql2k12"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>   
  </connectionStrings>

  <!-- Clé custom -->
  <appSettings>   
    
    <!-- ReCaptch -->
    <add key="CaptchaSiteKey" value="6Ld2YcoZAAAAAN5q5WcKehK-yPl84qwi7OKyTxeP"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"
           />
 
    <add key="CaptchaServerKey" value="6Ld2YcoZAAAAAKQtle9oJPhyzRv_0HAERpXiZljh"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"
         />
  </appSettings>
  
</configuration>