<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ServerSpecificSettings"
      type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="saml2" type="SAML2.Config.Saml2Section, SAML2"/>
  </configSections>
  <!-- Config spécific au serveur -->
  <ServerSpecificSettings file="server.config"/>
  <!-- augementer le Timeout de l upload a 5 mnt (300 seconds) -->
  <location path="ePJAdd.aspx">
    <system.web>
      <httpRuntime maxRequestLength="20096000" executionTimeout="1800"/>
    </system.web>
  </location>
  <location path="ePJAddFromTpl.aspx">
    <system.web>
      <httpRuntime maxRequestLength="20096000" executionTimeout="1800"/>
    </system.web>
  </location>
  <location path="edn.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frm.aspx">
    <system.web>
      <httpRuntime maxRequestLength="20096000" executionTimeout="1800"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="x-frame-options"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="eCaptchaGet.aspx">
    <system.web>
      <httpRuntime maxRequestLength="20096000" executionTimeout="1800"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="mgr/eUsrFrmManager.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="x-frame-options"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="pj.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="eImageDialog.aspx">
    <system.web>
      <httpRuntime maxRequestLength="20096000" executionTimeout="1800"/>
    </system.web>
  </location>
  <location path="mgr/edaUpgrader">
    <system.web>
      <httpRuntime executionTimeout="3600"/>
    </system.web>
  </location>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" targetFramework="4.8" debug="true"/>
    <httpRuntime maxUrlLength="4096" maxRequestLength="20096000" executionTimeout="600"/>
    <sessionState cookieless="false" cookieName="ASP.EUDOID" mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="480"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="eEudoCtrlUsr" tagName="FileSklton" src="~/UserControls/eEudoCtrlUsrFileSklton.ascx"/>
        <add tagPrefix="eEudoCtrlUsr" tagName="ListSklton" src="~/UserControls/eEudoCtrlUsrListSklton.ascx"/>
      </controls>
    </pages>
    <globalization culture="fr-FR"/>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <connectionStrings>
    <add name="ServerInstanceName" connectionString=".\sql2k12"/>
    <!--.-->
    <!--<add name="ServerInstanceName" connectionString="eudosrvsql\sql2K12" />-->
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <!-- Active le filtre xss sur le navigateur. A voir si ca pose pas de pb -->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!-- "force" https si le navigateur y a déjà accédé en https pour 30 jours -->
        <add name="Strict-Transport-Security" value="max-age=43000"/>
        <!--Interdit l'encapsulation de XRM pour une autre origne que le serveur lui-même. Buggé chez FF -->
        <add name="x-frame-options" value="SAMEORIGIN"/>
        <!-- bloc les scripts qui ne correspond pas à la politique définie. Bloquera les pages html personnalisées utilisant des ressources
        externes
        -->
        <!--
        <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-eval' 'unsafe-inline'" />
        <add name="Content-Security-Policy" value="img-src '*'" />
            -->
        <!-- "force" le navigateur a respecter le type mime envoyé -->
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!--<mimeMap fileExtension=".less" mimeType="text/css" />-->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="eLogin.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="4096" maxQueryString="2048" maxAllowedContentLength="100971520"/>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!-- Tracking -->
        <rule name="RuleTrack" stopProcessing="true">
          <match url="^ut$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="^(GET|POST)$" ignoreCase="true" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="edn.aspx" appendQueryString="true"/>
        </rule>
        <rule name="RuleTrackStop" stopProcessing="true">
          <match url="^edn.aspx$" ignoreCase="true"/>
          <action type="Rewrite" url="blank.htm" appendQueryString="false"/>
        </rule>
        <rule name="RuleTrackNew" stopProcessing="true">
          <match url="^ut/([^/]+)/([^/]+)/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="edn.aspx?tok={R:1}&amp;cs={R:2}&amp;p={R:3}" appendQueryString="false"/>
        </rule>
        <!-- Tracking externalisé -->
        <rule name="RuleTrackExt" stopProcessing="true">
          <match url="^ute$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="^(GET|POST)$" ignoreCase="true" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="g=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="ednexternal.aspx" appendQueryString="true"/>
        </rule>
        <!-- Pj -->
        <rule name="RulePj" stopProcessing="true">
          <match url="^at$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="^(GET|POST)$" ignoreCase="true" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="pj.aspx" appendQueryString="true"/>
        </rule>
        <rule name="RulePjStop" stopProcessing="true">
          <match url="^pj.aspx$" ignoreCase="true"/>
          <action type="Rewrite" url="blank.htm" appendQueryString="false"/>
        </rule>
        <!--  Pj externalisée -->
        <rule name="RulePjExt" stopProcessing="true">
          <match url="^pj/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="getpj.aspx?pj={R:1}" appendQueryString="true"/>
        </rule>
        <!-- Formulaire -->
        <rule name="RuleForm" stopProcessing="true">
          <match url="^frm$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" pattern="^GET$" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="frm.aspx" appendQueryString="true"/>
        </rule>
        <!-- scripts intégration formulaire -->
        <rule name="RuleFormScript" stopProcessing="true">
          <match url="^frms$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" pattern="^GET$" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="api/formularmanager" appendQueryString="true"/>
        </rule>
        <rule name="RuleFormStop" stopProcessing="true">
          <match url="^frm.aspx$" ignoreCase="true"/>
          <action type="Rewrite" url="blank.htm" appendQueryString="false"/>
        </rule>
        <rule name="RuleFormNew" stopProcessing="true">
          <match url="^frm/([^/]+)/([^/]+)/([^/]+)/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="frm.aspx?tok={R:2}&amp;cs={R:3}&amp;p={R:4}" appendQueryString="false"/>
        </rule>
        <rule name="RuleFormNewML" stopProcessing="true">
          <match url="^frm/([^/]+)/([^/]+)/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="frm.aspx?tok={R:1}&amp;cs={R:2}&amp;p={R:3}" appendQueryString="false"/>
        </rule>
        <!-- Connect -->
        <rule name="autoconnectredirect" stopProcessing="true">
          <match url="^([0-9]+)/([0-9]+)"/>
          <action type="Rewrite" url="mgr/external/eAutoConnect.ashx?file={R:1}&amp;fileid={R:2}" appendQueryString="true"/>
        </rule>
        <!-- Connect -->
        <rule name="autoconnect" stopProcessing="true">
          <match url="^auto"/>
          <action type="Rewrite" url="mgr/external/eAutoConnect.ashx" appendQueryString="true"/>
        </rule>
        <!-- Connect SSO -->
        <rule name="ssoconnect" stopProcessing="true">
          <match url="^sso/([^/]+)"/>
          <action type="Rewrite" url="mgr/external/eAutoConnect.ashx?t={R:1}" appendQueryString="true"/>
        </rule>        
        <!-- Power BI -->
        <rule name="RulePowerBI" stopProcessing="true">
          <match url="^pbi$" ignoreCase="true"/>
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" pattern="^GET$" negate="false"/>
            <add input="{QUERY_STRING}" pattern="tok=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="cs=([^&amp;]+)"/>
            <add input="{QUERY_STRING}" pattern="p=([^&amp;]+)"/>
          </conditions>
          <action type="Rewrite" url="ePowerBI.aspx" appendQueryString="true"/>
        </rule>
        <rule name="RulePowerBIStop" stopProcessing="true">
          <match url="^pbi.aspx$" ignoreCase="true"/>
          <action type="Rewrite" url="blank.htm" appendQueryString="false"/>
        </rule>
        <rule name="RulePowerBINew" stopProcessing="true">
          <match url="^pbi/([^/]+)/([^/]+)/([^/]+)/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="ePowerBI.aspx?tok={R:2}&amp;cs={R:3}&amp;p={R:4}" appendQueryString="false"/>
        </rule>
        <rule name="RulePowerBINewML" stopProcessing="true">
          <match url="^pbi/([^/]+)/([^/]+)/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="ePowerBI.aspx?tok={R:1}&amp;cs={R:2}&amp;p={R:3}" appendQueryString="false"/>
        </rule>
        <rule name="RuleSamlLogin" stopProcessing="true">
          <match url="^sp/([^/]+)/login$" ignoreCase="false"/>
          <action type="Rewrite" url="mgr/saml/eLogin.ashx?tok={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="RuleSamlMatadata" stopProcessing="true">
          <match url="^sp/sp-metadata.xml$" ignoreCase="true"/>
          <action type="Rewrite" url="mgr/saml/eMetadata.ashx" appendQueryString="true"/>
        </rule>
        <rule name="RuleSamlStop" stopProcessing="true">
          <match url="^sp/([^/]+)$" ignoreCase="true"/>
          <action type="Rewrite" url="blank.htm" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="externalimg"/>
      <add name="externalimg" verb="GET" path="myimg" type="Com.Eudonet.Xrm.mgr.external.eImgMgr"/>
    <remove name="ExtensionlessUrlHandler-Integrated-4.0"/><remove name="OPTIONSVerbHandler"/><remove name="TRACEVerbHandler"/><add name="ExtensionlessUrlHandler-Integrated-4.0"
      path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/></handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" subStatusCode="-1" path="customError\404.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="IntranetApplication" value="0"/>
    <add key="SSOApplication" value="0"/>
    <!--permet d'enregistrer dans les logs Le xml de la réponse du CAS lors de l'authentification-->
    <add key="LogCASResponse" value="0"/>
    <!--Nombre maximal de fiches qu'il est possible d'exporter-->
    <add key="ExportMaxNbFiles" value="100000"/>
    <!-- active l'antivirus -->
    <add key="avscan" value="1"/>
    <!-- DECONSEILLE  si l'antivirus n'est pas disponible, valide la pj-->
    <add key="avunsecure" value="1"/>
    <!-- -->
    <!-- port écoute antivirus -->
    <add key="avport" value="3310"/>
    <!-- Adresse du service WCF d'EudoReport-->
    <add key="EudoReportURL" value="http://localhost:4752/EudoReportWCF/"/>
    <!-- Adresse du service WCF d'EudoTreatment-->
    <add key="EudoTreatmentURL" value="http://localhost:4753/EudoTreatmentWCF/"/>
    <!-- Adresse du service WCF d'EudoMailing-->
    <add key="EudoMailingURL" value="http://localhost:4754/EudoMailingWCF/"/>
    <!-- Adresse du service WCF d'EudoImport-->
    <add key="EudoImportURL" value="http://localhost:4755/EudoImportWCF/"/>
    <!-- Adresse du service WCF d'EudoScheduledJobsWCF-->
    <add key="EudoScheduledJobsURL" value="http://localhost:4756/EudoScheduledJobsWCF/"/>
    <!-- Adresse du service WCF de synchro-->
    <add key="EudoSynchroURL" value="http://localhost:12046/SynchroWCF.svc/basic/"/>
    <!-- Adresse de l'API d'accès à la base du référentiel Sirene-->
    <add key="EudoSireneURL" value="https://apps.eudonet.com/EudoSireneAPI/"/>
    <!-- Adresse du service WCF d'EudoTreatmentCampaignWCF-->
    <add key="EudoPauseCampaign" value="http://localhost:4757/EudoTreatmentCampaignWCF/"/>
    <!-- Mettre cette clé à 1 pour effectuer les appels à cette API en mode Debug et remonter les messages de diagnostic de cette dernière -->
    <add key="EudoSireneDebug" value="0"/>
    <add key="UseExternalPageHandler" value="1"/>
    <!-- Chemin physique des DATAS, non pris en compte si VALUE est vide, permet de specifier un chemin 
    différent de celui par defaut D:\DATAS\NOM_DE_LA_BASE et est utilisé par EudoProcess pour les 
    traitements et les rapports-->
    <add key="DatasRootFolder" value=""/>
    <!-- Mémoire utilisé pour le hash Argon2-->
    <add key="Argon2MemoryCost" value="65536"/>
    <!-- Max length Mail Subject -->
    <add key="MaxLengthMailSubject" value="998"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="CaptchaSiteKey" value="6LfR5acZAAAAAHLeg5LdsRVBEU9ajRi6A33402wI"/>
    <!-- Clé client side captcha -->
    <add key="CaptchaServerKey" value="6LfR5acZAAAAAFk6SXqafRoccVHTZ3cWuFIiS4S1"/>
    <!--MSgraph pour teams-->
    <add key="ida:AppID" value="aab8e62d-3dfb-4cfe-a499-b4bbc4a7f630"/>
    <add key="ida:AppSecret" value="7RvM7DEl5w4GpU0N-vnWPjW.-q6ILHgk~u"/>
    <!--url sur laquelle microsoft redirige après l'authentification-->
    <add key="ida:RedirectUri" value="http://localhost/XRM.DEV/Azure/AzureCheckAuthentication.aspx"/>
    <add key="ida:AppScopes" value="User.Read Calendars.ReadWrite MailboxSettings.Read"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.34.0.0" newVersion="4.34.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>