/* The Modal (background) */
.modal-motherofAll {
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    left: 0;
    top: 0;
    /*width: 100%;*/ /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*padding: 15px 20px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .modal-motherofAll .detailContent .form-group .input-line .rubriqueEmemo {
        display: flex !important;
    }

    .modal-motherofAll .inlineMemoEditor {
        border: 0px solid #d2d6de !important;
    }
/* Modal Content */
.modal-content-motherofAll {
    position: relative;
    background-color: #fefefe;
    /*margin: auto;*/
    /*padding: 0;*/
    /*border: 1px solid #888;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    /*height: 33%;*/
    display: flex;
    padding: 40px 10px 10px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.modal-content-motherofAll-Max {
    height: 85%;
    width: 100%;
}

.modal-content-motherofAll-Min {
    height: 60%;
    width: 60%;
}
/* The Close Button */
.close-motherofAll {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close-motherofAll:hover,
    .close-motherofAll:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header-motherofAll {
    position: relative;
    /*margin: auto;*/
    padding: 2px 16px;
    color: #333 !important;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ecf0f5;
    padding: 5px 20px;
    font-weight: bold;
}

.modal-header-motherofAll-Max {
    width: 100%;
}

.modal-header-motherofAll-Min {
    width: 60%;
}

.modal-body-motherofAll {
    padding: 2px 16px;
}

.modal-footer-motherofAll {
    position: relative;
    /*margin: auto;*/
    padding: 2px 16px;
    background-color: #bb1515;
    color: white;
    /*display: flex;*/
    justify-content: flex-end;
    background-color: #fdfdfd;
    border-top: 1px solid #ecf0f5;
}

.modal-footer-motherofAll-Max {
    width: 100%;
}

.modal-footer-motherofAll-Min {
    width: 60%;
}

.grid-container {
    /*display: grid;*/
}

.btnvalid {
    float: right;
}

.btncancel {
    float: left;
}
/** 3 colonnes pour le titre */
.titleDisplay {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 14px;
    float: left;
}

/** 1 colonne pour les boutons du titre.*/
.titleButtons {
    grid-column: 4;
    grid-row: 1 / span 4;
    /*display: flex;*/
    float: right;
    justify-content: flex-end;
}

/** alignement des boutons du titre. */
.titleButtonsAlignement {
    text-align: right;
    background: transparent;
    border: 0;
    margin: 2px 0 2px 15px;
    font-size: 10pt;
    color: #333 !important;
}

/**La taille des composants dans la modale*/
.componentsSize {
    width: 200px;
    height: 200px;
}

/*tâche 2575 - repasse CSS*/

.grid-container.form-group {
    width: 100%;
}

#MotherOfAllModals textarea.textareaRubrique {
    padding: 5px !important;
    /* min-height: 200px; */
    height: 100% !important;
}


.modal-footer-motherofAll button.eudo-button.btn {
    max-width: 125px;
    margin: 5px 0 5px 10px;
    padding: 7px 20px !important;
}

.modal-content-motherofAll .input-line.fname {
    border: 0;
    height: 100%;
}


.modal-content-motherofAll .grid-container.form-group {
    margin: 0;
}

    .modal-content-motherofAll .grid-container.form-group .rubriqueEmemo {
        height: 100%;
    }

footer.grid-container.modal-footer-motherofAll {
    /*display: flex;*/
    justify-content: flex-end;
}

#PhoneActionModal footer.grid-container.modal-footer-motherofAll {
    display: flex;
    justify-content: flex-end;
}

.rubriqueEmemo span.fas {
    position: absolute;
    right: 5px;
    top: -18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.rubriqueEmemo.readOnlyTxt span.fas {
    top: -21px;
    right: 5px;
}

#details .rubriqueEmemo span.fas {
    font-size: 14px;
}

span.cke_button_icon.fas[class*="fa-"] {
    color:black;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
}

/*tâche 2575 - repasse CSS*/

/** Positionne l'icone d'agrandissement en haut à droite. */
.polePositionFullScreen {
    position: absolute;
    top: -15px;
    right: 0;
    width:20px;
}
/** l'icone d'agrandissement. */
.nobleSpiritEmbiggens {
    cursor: pointer;
    background-image: url('../../scripts/ckeditor/skins/bootstrapck/images/fullscreen.png');
    background-position: 0px;
    background-size: 16px;
}

/*Retour d'homologation 3008 - Modal choix téléphone/sms */

span.phone-options-icon {
    flex-grow: unset;
    width: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    -webkit-animation: alertAnimation 0.8s;
    animation: alertAnimation 0.8s;
}

span.phone-options-icon:before {
    top: 0;
}

#PhoneActionModal .modal-content-motherofAll-Max.relation-modal,
#PhoneActionModal .modal-header-motherofAll-Max.relation-modal,
#PhoneActionModal .modal-footer-motherofAll-Max.relation-modal {
    width: 450px;
}

@keyframes alertAnimation {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

#PhoneActionModal ul.links-list {
    width: 100%;
    padding: 0 25px;
}

#PhoneActionModal .links-list a {
    color: #337ab7;
}

    #PhoneActionModal .links-list a:hover {
        text-decoration: underline;
    }

#PhoneActionModal .relation-title {
    margin-bottom: 0;
}

#PhoneActionModal .titleDisplay {
    font-size: 16px;
    font-weight: 600;
}
/*Retour d'homologation 3008*/