<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Builder center</title>
</head>
<body>
    <style>
        /*{{PLACEHOLDER_EDITORCSS}}*/
    </style>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="Col1 deviceWidth eudonet-sectionHeader" style="box-sizing: border-box; border-collapse: collapse;">
        <tr style="box-sizing: border-box;">
            <td width="100%" class="Column" style="box-sizing: border-box;background-color:#fff">
                <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="box-sizing: border-box; border-collapse: collapse; padding: 10px 0px 10px 0px; ">
                    <tr style="box-sizing: border-box;">
                        <td width="100%" class="Column" style="box-sizing: border-box;background-color:#fff; padding: 10px 0px;">
                            <table border="0" cellpadding="0" cellspacing="0" align="center" class="simpleText deviceWidth" style="box-sizing: border-box; border-collapse: collapse;">
                                <tr style="box-sizing: border-box;">
                                    <td class="NonDroppableCell" width="680" style="box-sizing: border-box; padding: 10px 0px 10px 0px; width: 680px;background-color:#fff">
                                        <div class="DivTxt" style="font-size: 10pt;box-sizing: border-box; margin: 3px 0 0 0; padding: 0 5px 0px 5px; text-align: center;background-color:#fff">
                                            Si vous ne parvenez pas à visualiser cet email, veuillez <a data-cke-saved-href="#" ednt="" ednn="" ednd="" ednc="visu" href="#" style="box-sizing: border-box;">cliquer ici.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="Col1 deviceWidth eudonet-sectionBody" style="box-sizing: border-box; border-collapse: collapse;">
        <tr style="box-sizing: border-box;">
            <td width="100%" class="Column" style="box-sizing: border-box;background-color:#fff">
                <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="box-sizing: border-box; border-collapse: collapse;">
                    <tr style="box-sizing: border-box;">
                        <td width="680" class="Column" style="box-sizing: border-box; padding: 10px 0px 10px 0px; width: 680px;background-color:#fff">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="simpleText deviceWidth" style="box-sizing: border-box; margin: 5px 0 0 0; border-collapse: collapse;">
                                <tr style="box-sizing: border-box;">
                                    <td class="NonDroppableCell" width="100%" style="box-sizing: border-box; padding: 10px;background-color:#fff">
                                        <div class="DivTxt" data-highlightable="1" style="box-sizing: border-box; padding: 5px;background-color:#fff">
                                            Votre texte ici
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="Col1 deviceWidth eudonet-sectionBody" style="box-sizing: border-box; border-collapse: collapse;">
        <tr style="box-sizing: border-box;">
            <td width="100%" class="Column" style="box-sizing: border-box;background-color:#fff">
                <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="box-sizing: border-box; border-collapse: collapse;">
                    <tr style="box-sizing: border-box;">
                        <td width="680" class="Column" style="box-sizing: border-box; padding: 10px 0px 10px 0px; width: 680px;background-color:#fff">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="simpleText deviceWidth" style="box-sizing: border-box; margin: 5px 0 0 0; border-collapse: collapse;">
                                <tr style="box-sizing: border-box;">
                                    <td class="NonDroppableCell" style="box-sizing: border-box; padding: 10px 0px 10px 0px;background-color:#fff">
                                        <div class="DivTxt" style="font-size: 10pt;box-sizing: border-box; margin: 3px 0 0 0; padding: 0 5px 0px 5px; text-align: center;background-color:#fff">
                                            Si vous ne souhaitez plus recevoir de ce courriel, <a data-cke-saved-href="#" ednt="" ednn="" ednd="" ednc="unsub" href="#" style="box-sizing: border-box;">vous pouvez gérer vos préférences ici.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
