
{

}

#BrowsingFirst[eenabled='0'] > span > img.rightMenuBrowsingFirst
{

}

#BrowsingFirst[eenabled='1'] > span:hover > img.rightMenuBrowsingFirst, #BrowsingPrevious[eenabled='1'] > span:hover > img.rightMenuBrowsingPrevious, #BrowsingNext[eenabled='1'] > span:hover > img.rightMenuBrowsingNext, #BrowsingLast[eenabled='1'] > span:hover > img.rightMenuBrowsingLast
{

}

#BrowsingLast[eenabled='0'] > span > img.rightMenuBrowsingLast
{

}

#BrowsingLast[eenabled='1'] > span > img.rightMenuBrowsingFirst:hover
{

}

#BrowsingLast[eenabled='1'] > span > img.rightMenuBrowsingLast:hover
{

}

#BrowsingLast[eenabled='1'] > span > img.rightMenuBrowsingNext:hover
{

}

#BrowsingLast[eenabled='1'] > span > img.rightMenuBrowsingPrevious:hover
{

}

#BrowsingNext[eenabled='0'] > span > img.rightMenuBrowsingNext
{

}

#BrowsingPrevious[eenabled='0'] > span > img.rightMenuBrowsingPrevious
{

}

#BrowsingPrevious[eenabled='1'] > span > img.rightMenuBrowsingPrevious, #BrowsingNext[eenabled='1'] > span > img.rightMenuBrowsingNext, #BrowsingLast[eenabled='1'] > span > img.rightMenuBrowsingLast, #BrowsingFirst[eenabled='1'] > span > img.rightMenuBrowsingFirst
{
	background-color: White;
	border: 1px solid White;
}

#btnActionsTop
{
	background-color: #EA4708;
	color: #FFFFFF;
}

#btnActionsTop div#actionLeft
{
	background-color: #BB3806;
}

#btnActionsTop:hover
{
	color: #FFFFFF;
	background-color: #FED141;
}

#cardBlockAvatar .icon-photo
{
	color: #EA4708;
}

#cardBlockAvatar.cardBlock
{
	border-color: #EA4708;
}

#formWidgetContent .widgetRSSItem h2 a
{
	color: #EA4708;
}

#kbColHeader .kbHeaderCol
{
	color: #EA4708;
}

.Action_sMC li
{
	border-bottom: 1px solid white;
}

.AddButton, .lnkAddTxt img, .addLinkImg
{
	background-color: #636363;
}

.AddButton:hover, .lnkAddTxt:hover img, .addLinkImg:hover
{
	background-color: #C4BCB7;
}

.background-hover-theme:hover, .background-theme, .static-background-theme
{
	background-color: #EA4708;
	color: #FFFFFF !important;
}

.background-theme:hover
{
	color: #EA4708 !important;
	background-color: #FFFFFF;
}

.bar-now, td.day.selectedday
{
	background-color: #CEEF60;
}

.barre-outils ul li.impression a
{
	background-color: #636363;
}

.barre-outils ul li.impression a:hover
{
	background-color: #C4BCB7;
}

.barre-outils ul li.zoom_moins a, .fileTools ul li.zoom_moins a
{
	background-color: #CCCCCC;
}

.barre-outils ul li.zoom_moins a:hover, .fileTools ul li.zoom_moins a:hover
{
	background-color: #C4BCB7;
}

.barre-outils ul li.zoom_plus a, .fileTools ul li.zoom_plus a
{
	background-color: #CCCCCC;
}

.barre-outils ul li.zoom_plus a:hover, .fileTools ul li.zoom_plus a:hover
{
	background-color: #C4BCB7;
}

.bkmButtonsBar > ul > li > div > img
{
	background-color: #636363;
}

.bkmButtonsBar > ul > li:hover > div > img
{
	background-color: #C4BCB7;
}

.bkmdiv
{
	border-left: 5px solid #EA4708;
}

.bkmHisto
{

}

.bkmHisto[enabled='1'] div img
{
	background-color: #636363;
}

.bkmHisto[enabled='1']:hover div img
{
	background-color: #C4BCB7;
}

.bkmNoPaging:hover div
{
	background-color: #C4BCB7;
}

.bkmTr td
{
	background-image: none;
	border: none;
}

.btnEscMnu a
{

}

.btnSelectUnselectAll > *
{
	color: #C4BCB7;
}

.btnSelectUnselectAll:hover > *
{
	color: #4C4C4C;
}

.buttonAdd span
{
	color: #C4BCB7;
}

.button-green
{
	background-color: #C4BCB7;
	padding: 5px;
}

.button-green > *
{
	background-image: none;
	height: inherit;
}

.button-green:hover
{
	background-color: #B5B5B5;
}

.button-green:hover > div[class^="button"]
{
	background-image: none;
}

.button-green-rightarrow > div[class^="button"]
{
	background-image: none;
	height: inherit;
	width: inherit;
}

.button-green-rightarrow:hover > div[class^="button"]
{
	background-image: none;
}

.button-green-rightarrow-mid
{
	padding: 5px;
	background: #79BE0B;
	padding-left: 10px;
}

.calendarselect
{
	background-color: #C4BCB7;
}

.cardBlock .cardTitle
{
	color: #EA4708;
}

.catToolAddLib:hover span
{
	color: #C4BCB7;
}

.catToolSync a
{
	background-color: #636363;
}

.catToolSync a:hover
{
	background-color: #C4BCB7;
}

.cell:hover > td > div.ViewsEditBtn > ul.fldBtnUl > .fldBtnDel a, .cell2:hover > td > div.ViewsEditBtn > ul.fldBtnUl > .fldBtnDel a
{
	background-color: #636363;
}

.cell:hover > td > div.ViewsEditBtn > ul.fldBtnUl > .fldBtnDel a:hover, .cell2:hover > td > div.ViewsEditBtn > ul.fldBtnUl > .fldBtnDel a:hover
{
	background-color: #C4BCB7;
}

.cell2:hover > td > div.ViewsEditBtn > ul.fldBtnUl > li.fldBtnModif > a, .cell:hover > td > div.ViewsEditBtn > ul.fldBtnUl > li.fldBtnModif > a
{
	background-color: #636363;
}

.cell2:hover > td > div.ViewsEditBtn > ul.fldBtnUl > li.fldBtnModif > a:hover, .cell:hover > td > div.ViewsEditBtn > ul.fldBtnUl > li.fldBtnModif > a:hover
{
	background-color: #C4BCB7;
}

.disable
{
	color: #EFEFEF !important;
}

.discComm
{
	border-color: #EA4708;
}

.divBkmCtner
{
	background-color: #E3E3E3;
}

.DivClosed
{
	color: #4C4C4C;
}

.DivClosed > *
{
	color: #C4BCB7;
}

.DivClosed img
{
	background-color: #636363;
}

.DivClosed span
{
	color: #C4BCB7;
}

.DivClosed:hover
{
	color: #4C4C4C;
}

.DivClosed:hover > *
{
	color: #4C4C4C;
}

.DivClosed:hover img
{
	background-color: #00C3FF;
}

.DivClosed:hover span
{

}

.DivOpen
{

}

.DivOpen > *
{
	color: #C4BCB7;
}

.DivOpen img
{
	background-color: #636363;
}

.DivOpen:hover
{
	color: #C4BCB7;
}

.DivOpen:hover > *
{
	color: #4C4C4C;
}

.DivOpen:hover img
{
	background-color: #00C3FF;
}

.DivOpen:hover span
{
	color: #C4BCB7;
}

.DivSelectionListResult .cell2:hover, .DivSelectionListResult .cell:hover, .ItemList .cell:hover, .ItemList .cell2:hover
{
	color: White;
	background-color: #C4BCB7;
}

.eMain_File
{
	background-color: #636363;
}

.file99Label, .file99Value
{
	color: #732C7B !important;
}

.fileDiv
{
	background-color: #FFFFFF;
}

.fileLogo
{
	color: #EA4708;
}

.fileLogoCV
{
	background-color: #636363;
}

.fileLogoCV:hover
{
	background-color: #C4BCB7;
}

.fileLogoInf, .logo_info, .catBtnTool a
{
	background-color: #636363;
}

.fileLogoInf:hover, .logo_info:hover, .catBtnTool a:hover
{
	background-color: #C4BCB7;
}

.fileTools ul li.impression a, .catToolPrint a
{
	background-color: #636363;
}

.fileTools ul li.impression a:hover, .catToolPrint a:hover
{
	background-color: #C4BCB7;
}

.fIOff:hover, div.control_contextmenu li.selected, div.control_contextmenu li.actionItem:hover, div.control_contextmenu li.advFltItem:hover
{
	background-color: #C4BCB7;
	color: White;
}

.fldBtnModif a, .logo_pen, .catBtnModif a
{
	background-color: #636363;
}

.fldBtnModif a:hover, .logo_pen:hover, .catBtnModif a:hover
{
	background-color: #C4BCB7;
}

.Gerard
{

}

.hdName a
{
	color: #666666;
}

.hdName span
{
	color: White;
}

.hdResize
{
	background-color: #FFFFFF;
	width: 2px;
}

.header
{

}

.hide_all
{
	background-color: #636363;
}

.hide_all:hover
{
	background-color: #C4BCB7;
}

.highlight
{
	background-color: #EA4708;
}

.hPaginTab
{
	left: 10px;
	position: absolute;
	top: 65px;
	width: 165px;
}

.hUserBloc a
{

}

.icnMnuChip
{
	font-size: 7pt;
	vertical-align: 0px !important;
}

.icon-edn-history[enabled='1'], .bkmPaging.icon-edn-eye
{
	color: #EA4708;
}

.iDel, .logo_trash, .fldBtnDel a, .pl_tt_opt_del, .catBtnDel a
{
	background-color: #636363;
}

.iDel:hover, .logo_trash:hover, .fldBtnDel a:hover, .catBtnDel a:hover
{
	background-color: #C4BCB7;
}

.imgAct
{
	color: #EA4708;
}

.iModPj img
{
	background-color: #636363;
}

.iModPj:hover img
{
	background-color: #C4BCB7;
}

.ivtFieldsSel
{

}

.ivtFieldsSel:hover
{

}

.jOrgChart .node
{
	color: #C4BCB7;
}

.kbAggr
{
	color: #EA4708;
}

.kbButtonSL
{
	background-color: #EA4708;
}

.kbListSL
{
	color: #EA4708;
}

.kbListSL li:hover
{
	background-color: #EA4708;
}

.kbListSL, .kbListSL li
{
	border-color: #EA4708;
}

.kbSL, .kbSL .icon-caret-down, .kbSL .icon-caret-right
{
	color: #EA4708;
}

.line1:hover > *, .line2:hover > *, .list_even:hover > *, .list_odd:hover > *, .line1:hover, .line2:hover, .highlight, .highlight > *, .highlight > [class*=" icon-"]
{
	background-color: #DADADA;
	color: #000000;
}

.line1:hover div.inTDbtn, .line2:hover div.inTDbtn
{
	color: White;
}

.line2
{
	background-color: #F6F6F6;
}

.linkAddNewBkmFile.gofile
{
	color: #C4BCB7;
}

.list_even:hover .logo_modifs > div, .list_odd:hover .logo_modifs > div
{
	color: White;
}

.list_even:hover .logo_modifs > div:hover, .list_odd:hover .logo_modifs > div:hover
{
	color: #4C4C4C;
}

.listfiltres
{

}

.lnkAddTxt:hover a
{
	color: #C4BCB7;
}

.lnkFieldsSel:hover img
{
	background-color: #C4BCB7;
}

.lnkFieldsSelBtn
{
	background-color: #636363;
}

.LNKOPENMEMOPOPUPbtn img
{
	background-color: #636363;
}

.LNKOPENMEMOPOPUPbtn:hover img
{
	background-color: #C4BCB7;
}

.logo_abc
{
	background-color: #636363;
}

.logo_abc:hover
{
	background-color: #C4BCB7;
}

.memoAvatar
{
	background-color: #C4BCB7;
}

.mTab .lnkIcon span
{
	color: #EA4708;
}

.mTab th.head, .hdTable
{
	height: 100%;
}

.mTab th.headActif
{
	background-color: #C4BCB7;
	color: #FFFFFF;
}

.mTab tr.hdBgCol
{

}

.mTab tr.hdBgCol *
{

}

.navBar
{
	border-color: White;
}

.navBar *:hover ul.sbMenu, .navBar *:hover ul.sbMenuActive
{

}

.navTitleActive
{
	background-color: #EA4708;
	color: White;
}

.open_all
{
	background-color: #636363;
}

.open_all:hover
{
	background-color: #C4BCB7;
}

.pagFirst
{
	background-color: #636363;
}

.pagFirst:hover
{
	background-color: #C4BCB7;
}

.pagFirstDis
{
	background-color: #EFEFEF;
}

.pagLast
{
	background-color: #636363;
}

.pagLast:hover
{
	background-color: #C4BCB7;
}

.pagLastDis
{
	background-color: #EFEFEF;
}

.pagNext
{
	background-color: #636363;
}

.pagNext:hover
{
	background-color: #C4BCB7;
}

.pagNextDis
{
	background-color: #EFEFEF;
}

.pagPrev
{
	background-color: #636363;
}

.pagPrev:hover
{
	background-color: #C4BCB7;
}

.pagPrevDis
{
	background-color: #EFEFEF;
}

.phd:hover
{
	color: #C4BCB7;
}

.plM-HESWL td:hover
{
	color: #C4BCB7;
}

.rightMenu:hover span.icnMnuVerBtn:hover
{
	color: #424448;
}

.rightMenuModFile
{
	background-color: #C4BCB7;
}

.rightMenuModFile span
{
	color: White;
}

.rightMenuModFile:hover
{
	background-color: #C4BCB7;
}

.rightMenuModFile:hover span
{
	color: #666666;
}

.rightMenuOption
{

}

.rightMenuOption > ul > li > a > span > img
{
	background-color: #C4BCB7;
}

.rightMenuOption > ul > li > a:hover > span
{
	color: White;
}

.rightMenuOption > ul > li > a:hover > span > img
{

}

.rightMenuOption a, .rightMenuModFile a
{

}

.rightMenuOption a:hover, .rightMenuOption a:focus, .rightMenuOption a:active, .rightMenuModFile a:hover, .rightMenuModFile a:focus, .rightMenuModFile a:active
{

}

.rightMenuOption ul.hUserBloc li:hover span, .rightMenuOption ul.rightMenuSubMenuItem li:hover span, .rightMenuOption ul.rightMenuItem li:hover span
{
	background-color: #DADADA;
	color: #636363;
}

.rightMenuSubMenuTitle
{
	color: #EA4708;
}

.rightMenuSubMenuTitle:hover
{

}

.SectedItem .iDel, .SectedItem .logo_trash, .SectedItem .fldBtnDel a
{

}

.table_labels, .table_labels_chk, .table_lab_pty
{
	color: #636363;
}

.tbHtileModal *
{
	background-color: #C4BCB7;
	background-image: none;
}

.tdHeader
{
	background-color: #EEEEEE;
	background-image: none;
}

.usrbt-all:hover *, .usrbt-none:hover *
{
	color: #C4BCB7;
}

.VCardTT .vcImgPp
{
	border-color: #C4BCB7;
}

.vcName, .vcCorporate
{
	color: #C4BCB7;
}

.widget-page-title-container .widget-title
{
	color: #EA4708;
}

.xrm-widget-title
{
	color: #EA4708;
}

[class^="icon-"], [class*=" icon-"], div.contentMaster div.FavLnkOpen div.menuBar div.icon-menu_btn [class^="icon-"]:hover, div.contentMaster div.FavLnkOpen div.menuBar div.icon-menu_btn [class*=" icon-"]:hover, div.rightMenu:hover div.menuBar [class^="icon-"]:hover
{
	color: #EA4708;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover
{
	color: #4C4C4C;
}

a.btnBitField
{
	background-color: #EA4708;
	color: #FFFFFF;
}

a.btnBitField[chk='1']
{

}

a.hAvatar
{
	background: url("../images/ui/avatar.png");
	border: 1px solid #B6B6B6;
	float: left;
	height: 28px;
	margin: 1px 15px 0 6px;
	padding: 0;
	width: 28px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
}

a.historique span
{
	background-image: none;
}

a.historique span.afficherHisto
{
	color: White;
}

a.historique span.masquerHisto
{
	background-image: none;
}

a.historique:hover span.afficherHisto
{
	color: #C4BCB7;
}

body
{
	background-color: #F8F8F8;
}

catToolSync a
{
	background-color: #636363;
}

catToolSync a:hover
{
	background-color: #C4BCB7;
}

catToolSyncDis a
{
	background-color: #BEBEBE;
}

div.advFltActiv div.advFltBtn
{

}

div.advFltActiv div.advFltLabel
{
	border-left: 6px solid #CEEF60;
	height: 17px;
}

div.advFltActiv div.advFltLeft
{

}

div.advFltBtn
{

}

div.advFltLabel
{

}

div.advFltLeft
{

}

div.advFltMenu
{
	background-color: #EA4708;
	color: White;
}

div.advFltMenu div[class^="adv"]
{
	background-image: none;
}

div.advFltMenu:hover
{
	background-color: #FED141;
	color: #FFFFFF;
}

div.advFltMenu:hover div.advFltBtn
{

}

div.advFltMenu:hover div.advFltLabel
{

}

div.advFltMenu:hover div.advFltLeft
{

}

div.advFltMenu:hover div[class^="adv"]
{
	background-image: none;
	color: #C4BCB7;
}

div.ahistoFltDiv
{
	background-color: #C4BCB7;
	border-radius: 5px;
	border: 1px solid White;
}

div.ahistoFltDiv .histoLeftBtn
{

}

div.aHistoFltDiv > a
{

}

div.ahistoFltDiv a.historique
{
	background-image: none;
}

div.ahistoFltDiv a.historique span.masquerHisto
{
	color: White;
}

div.ahistoFltDiv:hover
{
	background-color: White;
	border: 1px solid #C4BCB7;
}

div.ahistoFltDiv:hover a.historique span.masquerHisto
{
	color: #C4BCB7;
}

div.bkmTitle > ul > li.bkmButtonsBar > div > ul > li.bkmNoPaging > div > img
{
	background-color: #79BE0B;
}

div.colGuide
{
	color: #C4BCB7;
}

div.globalNav
{
	background-color: #C4BCB7;
	border-bottom: none;
	color: #EFEFEF;
}

div.globalNav div.HomeFixed
{
	border-top: 2px solid white;
}

div.histoActive:hover
{

}

div.histoFilter
{
	background-color: #EA4708;
	color: #FFFFFF;
}

div.histoFilter.histoActive
{
	background-color: #FED141;
}

div.histoFilter:hover, div.histoActive:hover
{
	background-color: #FED141;
	color: #FFFFFF;
}

div.hUserBloc
{
	color: Black;
}

div.hUserBloc *
{
	color: Black;
}

div.PlusFixed
{
	background-color: #C4BCB7;
}

div.rightMenuModFile > ul > li > a > span > img
{
	background-color: White;
}

div.rightMenuModFile:hover > ul > li
{
	background-color: #DADADA;
}

div.rightMenuOption:hover > ul > li > a > span > [class^="icon-"]:hover, div.rightMenuOption:hover > ul > li > a > span > [class*=" icon-"]:hover
{

}

div.rightMenuOption:hover > ul > li > a > span:hover > [class^="icon-"], div.rightMenuOption:hover > ul > li > a > span:hover > [class*=" icon-"]
{

}

div.rightMenuOption:hover > ul > li > span:hover > [class^="icon-"], div.rightMenuOption:hover > ul > li > span:hover > [class*=" icon-"]
{

}

div.subTabDiv span a.selected, div.subTabDiv span a:hover
{
	color: #EA4708;
	border-color: #EA4708;
}

div.usr_top_srch div.icon-edn-cross
{
	position: absolute;
}

img.SumCols
{
	top: 0;
	float: none;
}

input.readonly
{
	background-color: #F0F0F0;
}

li.catToolAddLib span.catToolAddLibSp
{
	color: #C4BCB7;
}

li.lnkFieldsAdd a, li.lnkFieldsSel a
{
	color: #C4BCB7;
}

li.lnkFieldsAdd:hover *, li.lnkFieldsSel:hover *, li.catToolAddLib:hover *
{
	color: #4C4C4C !important;
	cursor: pointer;
}

li.navAction
{
	background-color: #DADADA;
	color: #EA4708;
}

li.navAction:hover, li.navActiveElt
{
	background-color: #EA4708;
	color: #DADADA;
}

li.navEntry
{
	color: White;
}

li.navEntry:hover, div.navEntry:hover, li.navEntryActive, div.navEntryActive
{
	color: #EA4708;
	background-color: #FFFFFF;
}

li.navLst
{

}

li.navLst:hover, li.navActiveElt, .rightMenuOption ul li:hover, .rightMenuOption ul li:hover a, ul.rightMenuFavlnk li:hover a
{
	background-color: #DADADA;
}

li.sbmBottom
{
	background-color: #333333;
}

li.sbmBottom a
{
	color: #FFFFFF;
}

span.icnMnuVerBtn
{
	color: #C4BCB7;
}

table.underCal td.icnListAct
{

}

td.bkmDtls
{
	background-color: #C4BCB7;
	background-image: none;
}

td.bkmDtls a
{
	color: White;
	font-weight: bold;
}

td.bkmDtls a:hover
{
	color: #EA4708;
	font-weight: bold;
}

td.bkmDtls:hover
{
	background-color: White;
	background-image: none;
}

td.bkmDtlsSel
{
	background-color: White;
	background-image: none;
}

td.bkmHead
{
	background-color: #C4BCB7;
	background-image: none;
}

td.bkmHead a
{
	color: White;
	font-weight: bold;
}

td.bkmHead a:hover
{
	color: #EA4708;
	font-weight: bold;
}

td.bkmHead:hover
{
	background-color: White;
	background-image: none;
}

td.bkmHeadPlus
{
	background-color: #C4BCB7;
}

td.bkmHeadPlus a
{
	background-color: #C4BCB7;
	color: White;
}

td.bkmHeadPlus a:hover
{
	color: #EA4708;
	font-weight: bold;
}

td.bkmHeadPlus:hover
{
	background-color: White;
	background-image: none;
}

td.bkmHeadSel
{
	background-color: #EA4708;
	background-image: none;
}

td.bkmHeadSel a
{
	color: White;
	font-weight: bold;
}

td.bkmSep
{

}

td.eCatalogEditorMenuItem:hover, td.eCatalogMenuItemAddNew:hover, tr.catEditVal:hover, tr.catEditVal2:hover, td.eCatalogEditorMenuItemAdv:hover, ul.catEditVal > li[id^='val']:hover, ul.catMultSelVal > li[id^='val']:hover
{
	background-color: #DADADA;
}

td.LNKADVCATbtn, td.LNKCATbtn, td.LNKCATPOPUPbtn, td.LNKCATUSERbtn, td.LNKMNGFILEbtn, td.LNKSENDMAILbtn
{
	background-color: #636363;
}

td.LNKADVCATbtn:hover, td.LNKCATbtn:hover, td.LNKCATPOPUPbtn:hover, td.LNKCATUSERbtn:hover, td.LNKMNGFILEbtn:hover, td.LNKSENDMAILbtn:hover
{
	background-color: #C4BCB7;
}

td.LNKCATFILEbtn
{
	background-color: #636363;
}

td.LNKCATFILEbtn:hover
{
	background-color: #C4BCB7;
}

td.LNKCATHOURbtn
{
	background-color: #636363;
}

td.LNKCATHOURbtn:hover
{

}

td.LNKDATEbtn
{
	background-color: #636363;
}

td.LNKDATEbtn:hover
{
	background-color: #C4BCB7;
}

td.LNKOPENWEBbtn
{
	background-color: #636363;
}

td.LNKOPENWEBbtn:hover
{
	background-color: #C4BCB7;
}

tr.catEditVal:hover > td.catBtn > div.catBtnVal > ul.catBtnUl > li.catBtnDel a
{

}

tr.catEditVal:hover > td.catBtn > div.catBtnVal > ul.catBtnUl > li.catBtnModif a
{

}

tr.catEditVal:hover > td.catBtn > div.catBtnVal > ul.catBtnUl > li.catBtnTool a
{

}

tr.line2:hover > td > div.LNKSENDMAILbtn, tr.line1:hover > td > div.LNKSENDMAILbtn
{

}

tr:hover > td > div.LNKSENDMAILbtn
{
	background-repeat: repeat;
	background-color: #636363;
}

ul.sbMenu
{
	border: 1px solid #AFABAC;
	border-top: 3px solid;
}

ul.sbMenu, ul.sbMenuActive
{
	background-color: #F8F8F8;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 2px solid #EA4708;
}

ul.sbMenuActive
{
	border: 1px solid #AFABAC;
}


.xrm-widget-resize {
    border-right-color: #EA4708;
}

    .xrm-widget-resize:hover {
        border-right-color: #636363;
    }

