
/* debut  Modal dialog*/
.modal-dialog 
{   
    position: absolute;   
    margin: 30px auto;
}
.modal-content {

    position: relative;
    background-color: #fff; 
}
.modal-title {
   font-size: 18px;
   margin: 0;
   line-height: 1.42857143;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: -2px;
    }
.close {

    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-body {
    position: relative;
    padding: 12px;
}
.msgTitle {    
}
.msgBody {
  margin-top:18px;
}
.msgBody input {
    width:100%;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.hide {
display:none;
}

.imgEmpty {     
    border-style: dashed; 
    border-color: black; 
    width : 50px;
    height : 30px;
    /*position:absolute;*/


}

.imgFill {     
    width : 100px;
    height : auto;
    /*position:absolute;*/
    
}
.btnClose {
  /* position: absolute;*/ 
    top: 0px;
    right: 0;
}
.imgContainer {

    text-align: center;
   /*position: relative; 
    display: inline-block;*/
    /* overflow: hidden; */
    width: 100px;
}

/* fin  Modal dialog*/

/*DEBUT CATALOG Select2*/

.catalog-select {
    width : 150px;
}
/* redifinir certaines class du composant*/
.select2-drop-active {
    /*
    border: 1px solid #5897fb;
    border-top: none;
    */
}

.select2-drop.select2-drop-above.select2-drop-active {
    /*
     border-top: 1px solid #5897fb;
    */
}
.select2-results .select2-highlighted {
    /*       
    background: #3875d7;
    color: #fff;
   */
      
}

/* FIN CATALOG*/

/**/